# Variables
**it is a location in the memory used to store data(value)**

In [ ]:
x=3

print(id(x))

140729906799056

In [ ]:
y=3 

print(id(y))

'''x also points to same location and y also
unless u change y value
'''

140729906799056

In [ ]:
y=2

print(id(y))

140729906799024

# Data types

In [ ]:
a=4

print(a,'is of type',type(a))

4 is of type <class 'int'>

In [ ]:
b=1+2j
print(b,"is complex no?")
print(isinstance(1+2j,complex)) #tells above conditions are true or false

(1+2j) is complex no?
True

**Strings**

In [6]:
s="today is holiday"
print(s[2])  #Gives the letter in the index 2 (indexing starts from 0)
print(s[-2]) #to get last word

d
a

In [ ]:
#slicing

s[5:]#will print char from 5 index to end
s[4:10]# it will not print the 10 char

'y is h'

In [ ]:
# list--are mutable( we can change the items in list)
# always written in square brackets

a = [10,4.5,'hello']
print(a[2])

hello

In [ ]:
a[2]='leave'# altering list
print(a)

[10, 4.5, 'leave']

In [ ]:
#tuples--are immutable(channot be altered). written in rounded brackets

t =( 2,4.6,'FU')
print(t)

(2, 4.6, 'FU')

In [ ]:
t[0]=30
print(t)
# The above code will give error coz tuple are immutable

In [1]:
#set--unordered collection of unique values

s={10,20,20,423,55,55}
print(type(s))
print(s)
# output will only show unique values,same values will not be repeated

<class 'set'>
{10, 20, 55, 423}

In [ ]:
# Below code will give an error Bcoz set doesn't support indexing bcoz it is unordered
s[0]

## Dictionaries Syntax-(keys:value pair)
A dictionary is a collection which is unordered, changeable and indexed.They have keys and value pair

In [1]:
books={
    "R":480,
    "Python":650,
    "PySpark":450,
    "Scala":780,
    "Basic Stats":650
}

In [2]:
#to delete a key or value
del books['Scala']
print(books)

{'R': 480, 'Python': 650, 'PySpark': 450, 'Basic Stats': 650}

In [3]:
#add elements to the dictionary
books["Hadoop"]=434
print(books)

{'R': 480, 'Python': 650, 'PySpark': 450, 'Basic Stats': 650, 'Hadoop': 434}

# Conversions

In [4]:
print(int(5.6))
print(float(5))

user='Chinmay'
lines = 10000000
print("Congratualation " + user + " u won "+str(lines)+" crores")# if u remove str it gives error

5
5.0
Congratualation Chinmay u won 10000000 crores

In [6]:
# convert one sequence to another
 
a = [1,7,8,4,5]
print(type(a))
s=set(a) #convert list to set with set()method
print(type(s))
print(s)

<class 'list'>
<class 'set'>
{1, 4, 5, 7, 8}

In [7]:
list('Chinmay')#string to list

['C', 'h', 'i', 'n', 'm', 'a', 'y']

# Output formatting

In [10]:
q=1;w=4

print("The value of q is {} and w is {}".format(q,w))
# we can also specify position
print("The value of w is {1} and q is {0}".format(q,w))
print("Hello {name},{greeting}".format(name='Chinmay', greeting="whassup"))
print("Do u know the story of {0} {1} and {other}".format('Tommy',',Arthur',other='John'))

The value of q is 1 and w is 4
The value of w is 4 and q is 1
Hello Chinmay,whassup
Do u know the story of Tommy ,Arthur and John

**Inputing Values**

In [11]:
num = input('enter a number:')
print(num)

enter a number:23
23

# operators

In [16]:
#special symbol in pyhon which carry out arithmatic and logical operations
'''operand--The value on which the 
   operator operates
'''

x,y=10,20

#addition
print(x+y)
'''modulo division = % 
   floor division = //
   exponent = ** 
   division = /
'''
print(5//2) #gives closest no (rounding off)
print(-5//2) #gives closest -ve no

30
2
-3

In [18]:
# comparison operator
# < , > , == , (!=)not equal , >= , <=
print(x>y)
print(x==y)

False
False

In [ ]:
#logical operator---(and,or,not)

a,b = True,False
print(a and b)
print(a or b)

False
True

In [25]:
# bitwise operator it operates bit by bit say(10=1010)

'''and = &
   or = |
   not = ~
   xor = ^ -Sets each bit to 1 if only one of two bits is 1
   rightshift = >>
   leftshift = >>
   '''
a,b=7,4
print(a & b)
#print(a | b)

4

In [30]:
#Assignment operator

#         =, += ,-= ,/= ,//=,*= ,**=,&= ,|=
a=1
a+=2
print(a)

3

# function

In [36]:
def print_name(name):
    '''(this function prints the name)
    '''
    print('Hello '+str(name))

In [35]:
print_name('Chinmay')

Hello Chinmay

# DocString

Docstring = documentation string

* used to show the use of the method,or function

* its is written in triple quotes(''' Hello ''')

In [37]:
print(print_name.__doc__) # to see the docstring of any function

(this function prints the name)

# return

return statement is used to exit a function and go back to place where it was started

In [39]:
def get_sum(lst):
    '''
    This function returns the sum of all the elements in the list
    '''
    #initialise sum
    _sum = 0
    
    #iterating over the list
    for num in lst:
        _sum += num
    return _sum

In [40]:
s = get_sum([1,2,3,4])
print(s)

print(get_sum.__doc__) #DocString

10

    This function returns the sum of all the elements in the list

# Variable defined inside a fn and outside a fn

In [45]:
# variable defined inside a fn and outside a fn
global_var = 'This is global variable'

def test_life_time():
    '''This fn test the lifetime of a variable '''
    local_var = 'This is a local variable'
    
    print(local_var)
    print(global_var)
    
#calling fn
test_life_time()

#print(local_var)  #it will give error bcaoz local_var is defined inside the fn


print(global_var)# this will not giv error coz it is defined outside the fn

This is a local variable
This is global variable
This is global variable

In [4]:
# filter()

def find_positive_number(num):
    '''This fn return +ve no. if num is +ve
    '''
    if num>0:
        return num

def negative_number(no):
    '''This is for -ve number
    '''
    if no < 0:
        return no

In [5]:
num_lst= range(-10,10)
print(list(num_lst))

positive_num_list = list(filter(find_positive_number,num_lst))
print(positive_num_list)

negative_num_list = list(filter(negative_number,num_lst))
print(negative_num_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [ ]:
# map()--applies a fn to all the items in an input_list

numbers = [1,2,3,4]

def PowerOftwo(num):
    return num ** 2
# using map() fn
squared = list(map(powerOftwo, numbers))
print(squared)

[1, 4, 9, 16]

In [ ]:
# reduce()
'''It is a function that implements a mathematical technique called folding or reduction. 
reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.
'''
from functools import reduce
lst=[1,2,3,4]
def multiply(x,y):
    return x*y;
product=reduce(multiply,lst)
print(product)

24

In [ ]:
#lambda fn= its is fn that is defined without a name
#fn name = keyword arg: formula
double = lambda x: x * 2

print(double(10))

20

In [ ]:
#lambda fn using filter()

lst = [1,2,3,4,5,6,7]
evenLst = list(filter(lambda x: (x%2==0),lst))
print(evenLst)

[2, 4, 6]

In [ ]:
# lambda fn using map()
lst = [1,2,3,4,5]
newLst = list(map(lambda x: x**2,lst))
print(newLst)

[1, 4, 9, 16, 25]

In [ ]:
# lambda fn using reduce()
from functools import reduce

Lst = [1,2,3,4]
prod_lst = reduce(lambda x,y:x*y,Lst)
print(prod_lst)

24